## Tratando valores nulos (NaN)

In [24]:
import pandas as pd

df = pd.read_csv('aluguel_apartamentos.csv', sep=',')
df.isnull()
# True -> célula nula
# False -> célula não nula

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False       False   True
2      False   False    False  False   False  False  False        True   True
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
19527  False   False    False  False   False  False  False       False   True
19528  False   False    False  False   False  False  False       False  False
19529  False   False    False  False   False  False  False       False  False
19530  False   False    False  False   False  False  False       False  False
19531  False   False    False  False   False  False  False       False   True

[19532 rows x 9 columns]

Quantos dados nulos existem no nosso dataset?

In [25]:
# Total de valores nulos por coluna
df.isnull().sum()

Tipo             0
Bairro           0
Quartos          0
Vagas            0
Suites           0
Area             0
Valor            7
Condominio     745
IPTU          5472
dtype: int64

In [26]:
# Podemos realizar a interpolação
dados_interpolados = df.interpolate()

C:\Users\DIOGO-PC\AppData\Local\Temp\ipykernel_2712\3252649153.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  dados_interpolados = df.interpolate()

In [27]:
# Aqui podemos ver que todos os dados foram interpolados e não há nenhum valor nulo
dados_interpolados.isnull().sum()

Tipo          0
Bairro        0
Quartos       0
Vagas         0
Suites        0
Area          0
Valor         0
Condominio    0
IPTU          0
dtype: int64

In [28]:
# Também podemos substituir todos os valores nulos por zero, por exemplo:

# Neste contexto de alugueis por região, talvez não faça tanto sentido fazer uma interpolação, pois não se trata de algo linear

dados_substituidos = df.fillna(0)
dados_substituidos.isnull().sum()

Tipo          0
Bairro        0
Quartos       0
Vagas         0
Suites        0
Area          0
Valor         0
Condominio    0
IPTU          0
dtype: int64